<div class="container">

      <% if @eligible %>
      <div class="page-header"><h1>You may be in luck!</h1></div>
      <div class="well">
        <p>Based on your household size and income, you qualify for Vision Assistance. To proceed with your application, find an office near you here:
        <%= link_to "here", "http://www.cedaorg.net/www2/CDS.html " %>
       </p>
      </div>



      <% else %>

      <div class="page-header"><h1>Do I qualify for Vision Assistance?</h1></div>
      <div class="well">
        <p>Based on your household size and income, you likely do not qualify for Vision assistance. However, the New Eyes for the Needy provides new prescription glasses for low-income US residents. View their website
        <%= link_to "here", "http://www.new-eyes.org/" %>
        and call them here:  973-376-4903</p>
      <% end %>
      </div>


</div>
