<div class="page-header">
  <h1>Vision #<%= @vision.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Vision gross income</dt>
  <dd><%= @vision.vision_gross_income %></dd>

  <dt>Vision household size</dt>
  <dd><%= @vision.vision_household_size %></dd>

</dl>
