
  <div class="row">
    <div class="page-header"><h1>About Us</h1></div>
  </div>
  <div class="row">
    <div class="well well-lg">
      <p class="lead">
      mRelief is a web and SMS based app that enables social service applicants to easily pre-screen their eligibility for services like food stamps and other programs, thus avoiding long wait times. If users are deemed ineligible, the app will refer them to local resources in their communities enabling a more humanizing and affirming experience with social services.
      </p>
    </div>
  </div>


