
<div class="container">
  <div class="row">
    <div style="padding-top:40px; text-align:center"><h1>About mRelief</h1></div>
  </div>
  <div class="row" style="text-align:center">
      <p style="
    margin-right: 50px;
    margin-left: 50px;
    padding-right: 50px;
    padding-left: 50px;">
      mRelief is a web and SMS based app that enables social service applicants to easily pre-screen their eligibility for services like food stamps and other programs, thus avoiding long wait times. If users are deemed ineligible, the app will refer them to local resources in their communities enabling a more humanizing and affirming experience with social services.
      </p>

    <i class="fa fa-file-text-o" style="margin:40px; font-size:300px"></i>


  </div>
</div>

