

<div>
  <div style="padding-top:40px; text-align:center">
    <h1>How mRelief Works</h1>
  </div>
  <div class="col-md-8 col-md-offset-2" style="text-align:center; padding-bottom:40px"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultriciesdis parturient montes, nascetur ridiculus mus.</p></div>
</div>

<!-- Alternating Steps -->
<div class="row" style="margin:0 0 40px 0">
  <div class="container">
   <div class="col-md-4 col-md-offset-2" style="vertical-align:middle"><h3>1. Choose Your Program</h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p></div>
    <div class="col-md-2" style="vertical-align:middle"><img src="http://placehold.it/300x200" alt="..." class="img-rounded"></div>
  </div>
</div>

<div class="row" style="margin:0 0 40px 0">
  <div class="container">
   <div class="col-md-4 col-md-offset-2" style="vertical-align:middle"><h3>2. Enter Your Information</h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p></div>
    <div class="col-md-2" style="vertical-align:middle"><img src="http://placehold.it/300x200" alt="..." class="img-rounded"></div>
  </div>
</div>

<div class="row" style="margin:0 0 40px 0">
  <div class="container">
   <div class="col-md-4 col-md-offset-2" style="vertical-align:middle"><h3>3. See if you Qualify</h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p></div>
    <div class="col-md-2" style="vertical-align:middle"><img src="http://placehold.it/300x200" alt="..." class="img-rounded"></div>
  </div>
</div>

<div class="row" style="margin:0 0 40px 0">
  <div class="container">
   <div class="col-md-4 col-md-offset-2" style="vertical-align:middle"><h3>4. Process Complete!</h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p></div>
    <div class="col-md-2" style="vertical-align:middle"><img src="http://placehold.it/300x200" alt="..." class="img-rounded"></div>
  </div>
</div>

