<div class="row">
  <div class="page-header"><h1>How mRelief Works?</h1></div>
</div>
<div class="row">
  <div class="well well-lg">
    <p class="text-center lead">
      mRelief enables you to see if you qualify for help.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-5">
    <div class="text-center well">
      <p class="text-center lead">Step 1</p>
      <p class="text-center"><i class="fa fa-pencil fa-5x"></i></p>
      <p class="text-center lead">ENTER your information</p>
    </div>
  </div>
  <div class="col-md-5">
    <div class="well">
      <p class="text-center lead">Step 2</p>
      <p class="text-center"><i class="fa fa-check-square-o fa-5x"></i></p>
      <p class="text-center lead">CONFIRM and see if you qualify</p>
    </div>
  </div>
</div>
