


<div class="row">
  <div style="padding:0px; text-align:center; color:#3fad46"><h1>How mRelief Works</h1></div>
  <div class="row col-md-10 col-md-offset-1" style="text-align:center; padding-bottom: 20px; border-bottom:thin solid #E6E6E6"><h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultriciesdis parturient montes, nascetur ridiculus mus.</h4></div>
</div>

<!-- Alternating Steps -->
<div class="row" style="padding:60px 100px 40px 100px">
  <div>
    <div class="col-md-3 col-sm-4" style="padding: 0 20px 0 0"><img src="http://placehold.it/200x200" alt="..." class="img-rounded"></div>
    <div class="col-md-9 cold-sm-8"><h3>1. Choose Your Program</h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p></div>
  </div>
</div>

<div class="row" style="padding:40px 100px 40px 100px">
  <div>
    <div class="col-md-3 col-sm-4" style="padding: 0 20px 0 0"><img src="http://placehold.it/200x200" alt="..." class="img-rounded"></div>
    <div class="col-md-9 cold-sm-8"><h3>2. Enter Your Information</h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p></div>
  </div>
</div>

<div class="row" style="padding:40px 100px 40px 100px">
  <div>
    <div class="col-md-3 col-sm-4" style="padding: 0 20px 0 0"><img src="http://placehold.it/200x200" alt="..." class="img-rounded"></div>
    <div class="col-md-9 cold-sm-8"><h3>3. See if you Qualify</h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p></div>
  </div>
</div>

<div class="row" style="padding:40px 100px 40px 100px">
  <div>
    <div class="col-md-3 col-sm-4" style="padding: 0 20px 0 0"><img src="http://placehold.it/200x200" alt="..." class="img-rounded"></div>
    <div class="col-md-9 cold-sm-8"><h3>4. Process Complete!</h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p></div>
  </div>
</div>
