<div class="page-header">
  <h1>Snap Eligibility #<%= @snap_eligibility.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Snap dependent no</dt>
  <dd><%= @snap_eligibility.snap_dependent_no %></dd>

  <dt>Snap gross income</dt>
  <dd><%= @snap_eligibility.snap_gross_income %></dd>

  <dt>Age</dt>
  <dd><%= @snap_eligibility.age %></dd>

</dl>
