<div class="row">
  <div class="page-header"><h1>What is SNAP?</h1></div>
</div>
<div class="row">
  <div class="well well-lg">
    <p class="lead">
    SNAP, also known as food stamps, stands for “Supplemental Nutrition Assistance Program” (SNAP). It is   a state program aimed at helping low-income people buy healthy food. You receive food stamps  through the Illinois Card, an electronic card that is accepted at most grocery stores.The program  is managed by the Food and Nutrition Service (FNS) of the United States Department of Agriculture.   The Department of Human Services administers the program in Illinois.
    </p>
  </div>
</div>
