<div class="container">


<div class="page-header" style="border:none">
  <h1>Do I qualify for Head Start?</h1>

<div class="lead">
  <p>Head Start provides educational and early childhood development activities that promote school readiness for three to five year old children from low-income families. It includes free medical, dental, and mental health services and nutritious meals, as well as parent education and training.</p>
  </div>

  <p>You can find more information on Head Start <a href="http://chicagoearlylearning.org/faq">here.</a></p>
</div>


      <% if @eligible %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">You may be in luck!</p>
        <p>Based on your household size, income, and ages of your children, you may qualify for Head Start. </p>

        <p>The Illinois Head Start Association can help you find a head start program near you. You can visit their website  <%= link_to "here", "http://ilheadstart.org/find-a-head-start-program/"%> or call at 217-241-3511.</p>
      </div>

      <% else %>

 <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>
        <p>Based on your household size and income, you likely do not qualify for Head Start. Many programs for young children have a combination of funding sources.</p>
        <p> For application information please visit chicagoearlylearning.org to find early learning programs near you or call the Chicago: Ready to Learn! Hotline at (312) 229-1690.</p>
        </div>
      <% end %>
      </div>

<div class="container">
  <ul class="pager" style="padding: 20px 0 0 0; text-align:left">
    <!-- <li class="previous"><a href="/">← Back</a></li> -->
    <li> <%= link_to "← Back", :back, :class => "previous" %></li>
  </ul>
</div>
