<div class="page-header">
  <h1>Head Start #<%= @head_start.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Hs dependent no</dt>
  <dd><%= @head_start.hs_dependent_no %></dd>

  <dt>Hs gross income</dt>
  <dd><%= @head_start.hs_gross_income %></dd>

</dl>
