<div class="container">

      <% if @eligible %>
      <div class="page-header"><h1>You may be in luck!</h1></div>
      <div class="well">
        <p>Based on your age, household size, and income, you likely qualify for RTA Ride Free. <p> Feel free to apply online <%= link_to "here", "https://idoaweb.aging.illinois.gov/baa/Welcome.aspx"%> before you visit.</p>
      </div>

      <% else %>

      <div class="page-header"><h1>Do I qualify for RTA Free Ride?</h1></div>
      <div class="well">
        <p>Based on your household size and income, you likely do not qualify for RTA Ride Free.</p>
        <p> Call 312-913-3110 for information about the Reduced Fare Program. Or, if you are a low-income woman exploring other transportation assistance options, go to www.womenwithdrive.org, to view their offerings.
 </p>
      <% end %>
      </div>

    <div class="row">
      <a class="btn btn-default" href="/mrelief"><i class="fa fa-chevron-left"></i> Back</a>
    </div>
</div>

<div class="container">
