<div class="page-header">
  <h1>Rta Free Ride #<%= @rta_free_ride.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Rta dependent no</dt>
  <dd><%= @rta_free_ride.rta_dependent_no %></dd>

  <dt>Rta gross income</dt>
  <dd><%= @rta_free_ride.rta_gross_income %></dd>

</dl>
