<div class= "container">

<div class="page-header" style="border:none">
  <h1>Do I qualify for Early Head Start?</h1>

<p class="lead"> If you are either pregnant or have a child who is between 0 and 2 years old, you may be eligible for Early Head Start. Please answer the following questions to find out:</p>


<% if @early_head_start.errors.any? %>
  <% @early_head_start.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<div class="panel panel-default col-md-10" style="margin: 0 0 40px 0">
  <div class="panel-body">
    <form action="/create_early_head_start" role="form">

  <!-- Label and input for ehs_dependent_no -->
    <div class="form-group col-sm-9">
    <label for="ehs_dependent_no">How many dependents(including yourself) are in your household?</label>
     <input type="text" id="ehs_dependent_no" name="ehs_dependent_no" placeholder="# of dependents" class="form-control" value="<%= @early_head_start.ehs_dependent_no %>">
  </div>


  <!-- Label and input for ehs_gross_income -->
   <div class="form-group col-sm-9">
    <label for="ehs_gross_income">
      What is your gross monthly income? <a data-toggle="popover" title="Popover title" data-placement="top" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fa fa-info-circle"></i></a>
       <!--  </button> -->
    </label>

    <div class="input-group">
      <span class="input-group-addon">$</span>
        <input type="text" id="ehs_gross_income" name="ehs_gross_income" placeholder="gross monthly income" class="form-control" value="<%= @early_head_start.ehs_gross_income %>">
      <span class="input-group-addon">.00</span>
    </div>

    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>
  </div>

</form>
</div>
</div>
</div>
