<div class="page-header">
  <h1>Early Head Start #<%= @early_head_start.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Ehs dependent no</dt>
  <dd><%= @early_head_start.ehs_dependent_no %></dd>

  <dt>Ehs gross income</dt>
  <dd><%= @early_head_start.ehs_gross_income %></dd>

</dl>
