<div class = "container">
<div class="page-header">
  <h1>Do I qualify for Housing Counseling and Referral Information?</h1>
</div>

<% if @housing_assistance.errors.any? %>
  <% @housing_assistance.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>
<p class="lead">If you are a resident of Suburban Cook County and enrolled in the Community Services Block Grant program, you may be eligible for Housing Counseling and Referral Information. Please answer the following questions to find out:</p>

<form action="/create_housing_assistance" class="form-horizontal">





  <!-- Label and input for housing_dependent_no -->
  <div class="form-group">
    <label for="housing_dependent_no" class="col-sm-6 control-label">
      How many
     <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="a person in your household who relies on you for financial support">
        dependents </button>
      (including yourself) are in your household?
    </label>


    <div class="col-sm-6">
      <input type="text" id="housing_dependent_no" name="housing_dependent_no" placeholder="# of dependents" class="form-control" value="<%= @housing_assistance.housing_dependent_no %>">
    </div>
  </div>

  <!-- Label and input for housing_gross_income -->
  <div class="form-group">
    <label for="housing_gross_income" class="col-sm-6 control-label">
      What is your
      <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="the total amount of money you made over the past three months before taxes were taken out">
        gross income
        </button>
        over the past 90 days?
    </label>
    <div class="col-sm-6">
      <input type="text" id="housing_gross_income" name="housing_gross_income" placeholder="gross income" class="form-control" value="<%= @housing_assistance.housing_gross_income %>">
    </div>
    <br>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-6">
      <input type="submit" value="See if I qualify" class="btn btn-primary">
    </div>
  </div>
</form>
</div>
