<div class="page-header">
  <h1>Housing Assistance #<%= @housing_assistance.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Housing dependent no</dt>
  <dd><%= @housing_assistance.housing_dependent_no %></dd>

  <dt>Housing gross income</dt>
  <dd><%= @housing_assistance.housing_gross_income %></dd>

</dl>
