<div class="container">

<div class="page-header" style="border:none">
  <h1> Do I qualify for WIC?</h1>

<div class="lead"> <p>The Women, Infants and Children (WIC) Program, funded by the United States Department of Agriculture, is a supplemental nutrition program focused on eating healthy for moms and kids. WIC can provide nutrition education, nutrition counseling, breastfeeding support, nutritious foods and referrals to other services as needed.</p>
  </div>

      <% if @eligible %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">You may be in luck!</p>
        <p>You may be in luck! Based on your household size, income, and nutrition risk, you qualify for WIC. Call (855)WIC-CEDA (855-942-2332) or
        <%= link_to "click here", "www.cedaorg.net " %>
        to find the clinic nearest you or for more information.</p>
      </div>

      <% else %>

    <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>
        <p>Based on your status, household size and income, you likely do not qualify for WIC. However, Firman Community Services has programs focusing on the health of families and children. Visit their website
        <%= link_to "here", "http://www.firmancs.org/index.html" %>
        or call their office to identify the best resource at Phone: 773 373 3400.</p>
      <% end %>
      </div>
      </div>

</div>

<div class="container">
  <ul class="pager" style=" text-align:left">
    <!-- <li class="previous"><a href="/">← Back</a></li> -->
    <li> <%= link_to "← Back", :back, :class => "previous" %></li>
  </ul>
</div>
