<div class="page-header">
  <h1>Wic #<%= @wic.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Wic household size</dt>
  <dd><%= @wic.wic_household_size %></dd>

  <dt>Wic gross income</dt>
  <dd><%= @wic.wic_gross_income %></dd>

</dl>
