<div class="page-header">
  <h1>Medicare Cost Sharing #<%= @medicare_cost_sharing.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Household size</dt>
  <dd><%= @medicare_cost_sharing.household_size %></dd>

  <dt>Medicare cost sharing</dt>
  <dd><%= @medicare_cost_sharing.medicare_cost_sharing %></dd>

  <dt>Premium only</dt>
  <dd><%= @medicare_cost_sharing.premium_only %></dd>

</dl>
