 <div class="form-group col-sm-9">
    <label for="zipcode">What is your zipcode?</label>
      <input type="text" id="zipcode" name="zipcode" placeholder="For example: 60615" class="form-control" required>
</div>
