<%#= render 'layouts/back' %>

<div class="container">
  <div style="text-align:center; margin:0 15% 0; padding: 40px 0 40px 0">
    <h1>All Programs for Chicago & Illinois</h1>
    <p> Below are a list of the benefits that are currently offered for prescreening using  mRelief. Although these are not all the benefits the city of Chicago, and the state of   Illinois offers, we are working to provide you with as much as we can. Click on a benefit   below to begin the prescreening process.</p>
  </div>


  <div class="row" style="padding: 0 0 40px 0">
  <% @programs.each do |program| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption" style="text-align:center; padding:0 0 20px 0">
          <h3> <%= program.name %> </li></h3>
          <p style="padding:0 30px 0 30px"><%= program.description %></p>
          <p><a href="<%= program.url %>" class="btn btn-primary" role="button">Find Out If You Qualify</a></p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
