
<div class="container">

      <% if @eligible %>
      <div class="page-header"><h1>You may be in luck!</h1></div>
      <div class="well">
        <p>Based on the ages of your children, household size, and income, you likely qualify for a Child Care Voucher. <p> Feel free to look up the nearest office in your county <%= link_to "here", "http://www.dhs.state.il.us/applications/ChildCareEligCalc/eligcalc.html"%> before you visit to apply.</p>
      </div>

      <% else %>

      <div class="page-header"><h1>Do I qualify for a Child Care Voucher?</h1></div>
      <div class="well">
        <p>Based on the age of your children, household size and income, you likely do not qualify for a Child Care Voucher.</p>
        <p> Call Child Care Aware's toll free hotline: 1-800-424-2246 to learn about additional resources in your community.</p>
      <% end %>
      </div>

    <div class="row">
      <a class="btn btn-default" href="/mrelief"><i class="fa fa-chevron-left"></i> Back</a>
    </div>
</div>

<div class="container">
