<div class = "container">
<div class="page-header">
  <h1> Do I qualify for a Child Care Voucher?</h1>
</div>

<p class="lead">If your child is between the ages of 6 months and 12 years, you may qualify for a Child Care Voucher. Please answer the following questions to find out:</p>

<% if @child_care_voucher.errors.any? %>
  <% @child_care_voucher.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_child_care_voucher" class="form-horizontal">



  <!-- Label and input for ccdf_dependent_no -->
  <div class="form-group">
    <label for="ccdf_dependent_no" class="col-sm-6 control-label">
      How many dependents
     <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="a person in your household who relies on you for financial support">
        dependents
        </button>
      (including yourself) are in your household?
    </label>


    <div class="col-sm-6">
      <input type="text" id="ccdf_dependent_no" name="ccdf_dependent_no" placeholder="# of dependents" class="form-control" value="<%= @child_care_voucher.ccdf_dependent_no %>">
    </div>
  </div>

  <!-- Label and input for ccdf_gross_income -->
  <div class="form-group">
    <label for="ccdf_gross_income" class="col-sm-6 control-label">
       What is your
      <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="the total amount of money you make each month before taxes are taken out (please include child support, social security benefits, and TANF (cash assistance))">
        gross monthly income?
        </button>

    </label>
    <div class="col-sm-6">
      <input type="text" id="ccdf_gross_income" name="ccdf_gross_income" placeholder="gross monthly income" class="form-control" value="<%= @child_care_voucher.ccdf_gross_income %>">
    </div>
    <br>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-6">
      <input type="submit" value="See if I qualify" class="btn btn-primary">
    </div>
  </div>
</form>
</div>
