<div class= "container">

<div class="page-header" style="border:none">
  <h1> Do I qualify for a Child Care Voucher?</h1>


<p class="lead">If your child is between the ages of 6 months and 12 years, you may qualify for a Child Care Voucher. <br>Please answer the following questions to find out:</p>
</div>

<% if @child_care_voucher.errors.any? %>
  <% @child_care_voucher.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<div class="panel panel-default col-md-10" style="margin: 0 0 40px 0">
  <div class="panel-body">
    <form action="/create_child_care_voucher" role="form">

      <div class="form-group col-sm-9">
    <label for="ccdf_dependent_no">How many dependents(including yourself) are in your household?</label>
      <input type="text" id="ccdf_dependent_no" name="ccdf_dependent_no" placeholder="# of dependents" class="form-control" value="<%= @child_care_voucher.ccdf_dependent_no %>">
  </div>


  <!-- Label and input for rta_gross_income -->
  <div class="form-group col-sm-9">
    <label for="ccdf_gross_income">
      What is your gross monthly income? <a data-toggle="popover" title="Popover title" data-placement="top" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fa fa-info-circle"></i></a>
       <!--  </button> -->
    </label>

    <div class="input-group">
      <span class="input-group-addon">$</span>
        <input type="text" id="ccdf_gross_income" name="ccdf_gross_income" placeholder="gross monthly income" class="form-control" value="<%= @child_care_voucher.ccdf_gross_income %>">
      <span class="input-group-addon">.00</span>
    </div>

    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>
  </div>

</form>
</div>
</div>

