<div class="page-header">
  <h1>Child Care Voucher #<%= @child_care_voucher.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Ccdf dependent no</dt>
  <dd><%= @child_care_voucher.ccdf_dependent_no %></dd>

  <dt>Cccdf gross income</dt>
  <dd><%= @child_care_voucher.cccdf_gross_income %></dd>

  <dt>Ccdf eligible children</dt>
  <dd><%= @child_care_voucher.ccdf_eligible_children %></dd>

</dl>
