<div class="page-header">
  <h1>Rental Assistance #<%= @rental_assistance.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Rental dependent no</dt>
  <dd><%= @rental_assistance.rental_dependent_no %></dd>

  <dt>Rental gross income</dt>
  <dd><%= @rental_assistance.rental_gross_income %></dd>

  <dt>Rental status</dt>
  <dd><%= @rental_assistance.rental_status %></dd>

</dl>
