<div class="container">
  <div class="row">
    <div style="padding:40px 0 20px 0; text-align:center"><h1>About Us</h1></div>
  </div>
  <div class= "col-md-10 col-md-offset-1" style="padding-bottom:100px; text-align:center">
    <div class="row"
    <a href="http://imgur.com/nyENQme"><img src="http://i.imgur.com/nyENQme.png" class="col-  md-6 col-md-offset-4 img-responsive" title="Hosted by imgur.com" width="330px"/></a>
    </div>

    <h4>We are an all-woman team hailing from different backgrounds<br> and walks of life dedicated to making an impact with technology.</h4>

<br>

    <p>With our passion to make a difference in people’s lives with technology, we are a part of a national movement to improve social services. We wanted to start with an issue that struck a chord with beneficiaries: Reducing wait times at Social Service Agencies. So, we used Ruby on Rails to program a form that enables a user to get an accurate sense of whether they qualify in minutes. That way, someone can decide whether it is worth filling out the detailed application forms, gathering identifying documents, and waiting at the office for an interview. We know there is value to determining eligibility in the privacy of your home or behind a computer screen, instead of waiting in public when you are vulnerable.<p>

   <!--  <h4> Our Support System </h4>
    <img src="http://opengovhacknight.org/images/sponsors/open-city.jpg" alt="Open City" itemprop="logo" class="img-responsive"> -->

  </div>
</div>


