<div class="container">
  <div class="row">
    <div style="padding-top:60px; padding-bottom:40px; text-align:center">
      <h1>Some ways to get in touch with us</h1>
    </div>

    <div style="padding-bottom:240px; text-align:center">
    <a href ="mailto:mrelief.form@gmail.com"><i class="fa fa-envelope-square" style="  margin:30px; font-size:72px"></i></a>
        <a href ="https://plus.google.com/117049110248209318421 "><i class="fa fa-google-plus-square" style="  margin:30px; font-size:72px"></i></a>
        <a href ="https://twitter.com/mrelief_form"><i class="fa fa-twitter-square" style="margin:30px;   font-size:72px"></i></a>
       <a href ="https://www.facebook.com/mRelief"><i class="fa fa-facebook-square" style="  margin:30px; font-size:72px"></i></a>
     </div>

  </div>

  </div>


















