<body>
<div class="row">

  <div class="container" style= "text-align:center">
  <div class= "row" style="padding-top:100px">
    <a href="http://imgur.com/OvJfXKx"><img src="http://i.imgur.com/OvJfXKx.png" class="col-md-8 col-md-offset-2 img-responsive" title="Hosted by imgur.com"/></a>
  </div>
    <h1 style="padding:0px 0 20px 0; margin: 40px 40px 0 40px"> Check your eligibility for benefits in Chicago & Illinois.</h1>

    <p style="font-size:20px;">Eligibility requirements can be difficult to find, we've created a process that makes it easy.</p>
  </div>

  <div style="padding:30px 0 60px 0; text-align:center">
    <a href="/programs" type="button" class="btn btn-success btn-lg" role="button">Find out if you qualify</a>
  </div>
</div>

<!--  <div class="breathing-room" style="text-align:center; color: #333333; height: 400px; padding:40px;">
 -->
  <div class="container" style="text-align:center; border-top:thin solid #E6E6E6" >
    <div style="padding:40px 0 60px 0">
    <h2>How mRelief Works</h2>
    <h4>In three questions or less, determine whether you qualify for benefits in Chicago & Illinois.</h4>
    </div>

      <div class="row">
        <div class="col-md-3">
            <div class="tagline">
            <img src="http://i.imgur.com/iFdKCHD.png"/>
            </div>
            <br>
            <div>
              <h4>Security</h4>
              <p>Before waiting in public for benefits, see if you are eligible in private online or through SMS using a secure form.</p>
            </div>
        </div>

        <div class="col-md-3">
          <div class="tagline">
              <img src="http://i.imgur.com/P9gdSqa.png"/>
            </div>
            <br>
              <h4>Simplicity</h4>
              <p>mRelief reduces wait times from hours to minutes with a form that checks against eligibility requirements.</p>
        </div>

        <div class="col-md-3">
          <div class="tagline">
              <img src="http://i.imgur.com/w08IQgS.png"/>
              </div>
              <br>
            <h4>Empowerment</h4>
            <p>If you qualify, we educate you on your next step with the closest agency or social service provider.</p>
        </div>

        <div class="col-md-3">
          <div class="tagline">
              <img src="http://i.imgur.com/BqFg1XL.png"/>
              </div>
              <br>
              <h4>Resources</h4>
              <p>If you don’t qualify, we provide you with local resources or national non profits equipped to help. </p>
        </div>

          <div class="col-md-12" style="margin:60px 0 40px 0"><a href="/how_mrelief_works" class="btn btn-primary" role="button">How mRelief works</a></div>

  </div>
      </div>
    </div>
  </div>

    <div class="container" style="text-align:center; border-top:thin solid #E6E6E6">
      <div style="text-align:center" >
        <h2 style="padding:40px 0 20px 0">A Little More About Us</h2>
        <p class= " col-md-offset-1 col-md-10">We are ruby developers and alumni of The Starter League’s Web Development program, based in Chicago. Our additional expertise include Public Policy, Economics, and Design. Working in partnership with Mayor Rahm Emmanuel’s Innovation Delivery Team and Chicago’s City Centers, we have also received tremendous support from civic tech group, Open City and their "Open Gov Hack Night", a group of developers and open data lovers dedicated to open government data in the city of Chicago. </p>
     </div>


     <div class="col-md-offset-2 col-md-2" style="padding-top:25px">
          <img src="http://i.imgur.com/seGs4RJ.jpg" width="200" height="40"/>
      </div>

      <div class="col-md-4">
        <img src="http://i.imgur.com/zAZSaZl.png" width="200" height="103"/>
      </div>

      <div class="col-md-1" style="padding-top:15px">
        <img src="http://i.imgur.com/mD0nRo6.jpg" width="80" height="81"/>
      </div>


      <div class="col-md-offset-2 col-md-4" style="margin-top:15px;">
        <img src="http://i.imgur.com/kdOzUeJ.png" width="250" height="auto" />
      </div>

      <div class="col-md-2" style="margin-top:15px">
        <img src="http://i.imgur.com/Y22Edm5.jpg"/>
      </div>

    <div class="col-md-12">
      <a href="/about_us" class="btn btn-primary" role="button" style="margin: 40px 0 40px 0">More about us</a>
    </div>
      </div>
      </div>

