<body>
<div class="row">
  <p> <h1 class = "text-center breathing-room">Welcome to Chicago's online hub for pre-screening city and state benefits in Illinois.</p></h1>
  </div>
    <!-- <p> <h1 class = "left font-size:250% breathing-room">Welcome to Chicago's online hub for pre-screening city and state benefits in Illinois.</p></h1> -->

  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-4">
      <input type="submit" value="Get Started!" class="btn btn-primary">
    </div>
  </div>
</form>

<br />
 <div class="well breathing-room">
    <h2>How It Works</h2>


  <div class="row">
    <div class="col-sm-3">
        <h3><b>Preserve Dignity</b></h3>
        <div class="tagline">
          <%=image_tag(image_path("mult-action-form.png"), style: "max-width:150px; margin-top:-7px;")%>
      </div>
    </div>
    <div class="col-sm-3">
      <h3><b>Simplify Social Services</b></h3>
      <div class="tagline">
          <%=image_tag(image_path("mult-action-form.png"), style: "max-width:150px; margin-top:-7px;")%>
      </div>
    </div>

    <div class="col-sm-3">
      <h3><b>Empower Beneficiaries</b></h3>
      <div class="tagline">
          <%=image_tag(image_path("mult-action-form.png"), style: "max-width:150px; margin-top:-7px;")%>
      </div>
    </div>

    <div class="col-sm-3">
      <h3><b>Share Community Resources</b></h3>
      <div class="tagline">
        <%=image_tag(image_path("mult-action-form.png"), style: "max-width:150px; margin-top:-7px;")%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <p> <h1 class = "text-center breathing-room">A Little More About Us.</p></h1>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-4">
      <input type="submit" value="About mRelief" class="btn btn-primary">
    </div>
  </div>
</form>
