<body>
<div class="row">

  <div class="container" style= "text-align:center">
  <i class="fa fa-users" style= "padding-top:150px; font-size:100px"></i>
    <h1 style="padding:0px 0 20px 0; margin: 40px 40px 0 40px"> Easily Prescreen Social Service Benefits<br> in Chicago and Illinois Online.</h1>

    <p style="font-size:20px;">Eligibility requirements can be difficult to find, we created a form that makes it easy to understand.</p>
  </div>

  <div style="padding:30px 0 80px 0; text-align:center">
    <a href="/programs" type="button" class="btn btn-success btn-lg" role="button">See if you qualify</a>
  </div>
</div>

<!--  <div class="breathing-room" style="text-align:center; color: #333333; height: 400px; padding:40px;">
 -->
  <div class="container" style="text-align:center; border-top:thin solid #E6E6E6" >
    <div style="padding:40px 0 60px 0">
    <h2>How mRelief Works</h2>
    <p>In 3 questions or less determine whether you likely qualify for benefits.</p>
    </div>

      <div class="row">
        <div class="col-sm-3">
            <div class="tagline">
              <img src="http://placehold.it/150px" alt="..." class="img-circle">
            </div>
              <h5>Preserve Dignity</h5>
              <p>Prior to visiting an agency, see if you qualify for city benefits by entering data in a secure form.</p>
        </div>

        <div class="col-sm-3">
          <div class="tagline">
              <img src="http://placehold.it/150px" alt="..." class="img-circle">
          </div>
              <h5>Simplify Social Services</h5>
              <p>Enabling a more humanizing and affirming experience with social services.</p>
        </div>

        <div class="col-sm-3">
          <div class="tagline">
              <img src="http://placehold.it/150px" alt="..." class="img-circle">
          </div>
            <h5>Empower Beneficiaries</h5>
            <p>If you qualify, we educate you on your next step with the closest agency or reliable resource.</p>
        </div>

        <div class="col-sm-3">
          <div class="tagline">
              <img src="http://placehold.it/150px" alt="..." class="img-circle">
          </div>
              <h5>Share Community Resources</h5>
              <p>If you don’t qualify, we provide you with local resources or national non profits equipped to help. </p>
        </div>

          <p><a href="/how_mrelief_works" class="btn btn-primary" role="button" style="
    margin: 40px 0 40px 0">Learn more about how mRelief works</a></p>

  </div>
      </div>
    </div>
  </div>

    <div class="container" style="text-align:center; border-top:thin solid #E6E6E6">
      <div style="text-align:center" >
        <h2 style="padding:40px 0 20px 0">A Little More About Us</h2>
        <p style="
    margin-right: 50px;
    margin-left: 50px;
    padding-right: 50px;
    padding-left: 50px;"> We are 3 alumni of Starter League’s Web Development Training. Our additional expertise spans Public Policy, Economics, and Design.  We are working in partnership with Mayor Rahm Emmanuel’s Innovation Delivery Team and Chicago’s City Centers. We have also received tremendous support from OpenGov, a collective of developers and open data lovers dedicated to open government in the city of Chicago. </p>
     </div>
    <p><a href="/about_us" class="btn btn-primary" role="button" style="margin: 40px 0 40px 0">More about us</a></p>
      </div>
      </div>

