<body>
<div class="row" style="background-color:#d9534f">

  <div class="container" style= "text-align:center; color: white">
    <h1 style="padding:10% 15% 0 15%">Find out if you qualify, here and now!</h1>
    <p style="font-size:24px; font-style:italic"> Welcome to Chicago's online hub for prescreening city and state benefits. </p>
  </div>

  <div style="padding:30px 0 60px 0; text-align:center">
    <a href="/programs" type="button" class="btn btn-default btn-lg" role="button">Get Started!</a>
  </div>
</div>

<!--  <div class="breathing-room" style="text-align:center; color: #333333; height: 400px; padding:40px;">
 -->
  <div class="container" style="text-align:center" >
    <h2 style="padding:40px 0 70px 0; color:#d9534f">How mRelief Works</h2>

      <div class="row">
        <div class="col-sm-3">
            <div class="tagline">
              <img src="http://placehold.it/200px" alt="..." class="img-circle">
            </div>
              <h5 style="margin:20px">Preserve Dignity</h5>
              <p style="margin:20px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
        </div>

        <div class="col-sm-3">
          <div class="tagline">
              <img src="http://placehold.it/200px" alt="..." class="img-circle">
          </div>
              <h5 style="margin:20px">Simplify Social Services</h5    >
              <p style="margin:20px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
        </div>

        <div class="col-sm-3">
          <div class="tagline">
              <img src="http://placehold.it/200px" alt="..." class="img-circle">
          </div>
            <h5 style="margin:20px">Empower Beneficiaries</h5>
            <p style="margin:20px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
        </div>

        <div class="col-sm-3">
          <div class="tagline">
              <img src="http://placehold.it/200px" alt="..." class="img-circle">
          </div>
              <h5>Share Community Resources</h5>
              <p style="margin:20px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
        </div>
        <div style= "padding:40px 0 70px 0; margin: 30% 25% 0 25%">
          <a href="/how_mrelief_works" type="button" class="btn btn-primary btn-lg" role="button"> Learn More about How mRelief Works</a>
        </div>
  </div>
      </div>
    </div>
  </div>

    <div class="row" style="background-color:#d9534f">
      <div class="container" style="text-align:center; color:white" >
        <h2 style="padding:30px 0 20px 0">A Little More About Us</h2>
        <p style="margin:0 25%"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim </p>
     </div>

      <div style= "text-align: center; padding:40px; margin: 0 25%">
          <a href="/about_us" type="button" class="btn btn-default btn-lg" role="button"> Learn More About Us</a>
      </div>

