<body>
<div class="row">

  <div class="container" style= "text-align:center">
  <i class="fa fa-users" style= "padding-top:150px; font-size:100px"></i>
    <h1 style="padding:0px 0 20px 0; margin: 40px 40px 0 40px">Illinois's one-stop-shop for easily <br>prescreening your state benefits online </h1>

    <p style="font-size:24px;"> Enabling a more humanizing and affirming experience with social services. </p>
  </div>

  <div style="padding:30px 0 80px 0; text-align:center">
    <a href="/programs" type="button" class="btn btn-success btn-lg" role="button">Find out if you qualify</a>
  </div>
</div>

<!--  <div class="breathing-room" style="text-align:center; color: #333333; height: 400px; padding:40px;">
 -->
  <div class="container" style="text-align:center; border-top:thin solid #E6E6E6" >
    <div style="padding:40px 0 60px 0">
    <h2>How mRelief Works</h2>
    <p>This web and SMS based app enables social service applicants to easily pre-screen their eligibility for services</p>
    </div>

      <div class="row">
        <div class="col-sm-3">
            <div class="tagline">
              <img src="http://placehold.it/150px" alt="..." class="img-circle">
            </div>
              <h5>Preserve Dignity</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
        </div>

        <div class="col-sm-3">
          <div class="tagline">
              <img src="http://placehold.it/150px" alt="..." class="img-circle">
          </div>
              <h5>Simplify Social Services</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
        </div>

        <div class="col-sm-3">
          <div class="tagline">
              <img src="http://placehold.it/150px" alt="..." class="img-circle">
          </div>
            <h5>Empower Beneficiaries</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
        </div>

        <div class="col-sm-3">
          <div class="tagline">
              <img src="http://placehold.it/150px" alt="..." class="img-circle">
          </div>
              <h5>Share Community Resources</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
        </div>

          <p><a href="/how_mrelief_works" class="btn btn-primary" role="button" style="
    margin: 40px 0 40px 0">Learn more about how mRelief works</a></p>

  </div>
      </div>
    </div>
  </div>

    <div class="container" style="text-align:center; border-top:thin solid #E6E6E6">
      <div style="text-align:center" >
        <h2 style="padding:40px 0 20px 0">A Little More About Us</h2>
        <p style="
    margin-right: 50px;
    margin-left: 50px;
    padding-right: 50px;
    padding-left: 50px;"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim </p>
     </div>
    <p><a href="/about_us" class="btn btn-primary" role="button" style="margin: 40px 0 40px 0">Learn more about us</a></p>
      </div>
      </div>

