

<div>
  <div style="padding:40px 0 20px 0; text-align:center">
    <h1>See if you qualify in 3 simple steps</h1>
  </div>
  <div class="col-md-offset-2 col-md-8 col-md-offset-2" style="text-align:center; padding-bottom:100px"><p>Currently we provide seventeen social service programs for the city of Chicago and state of Illinois. Using mRelief, simplifies the qualifying process with an easy-to-use form that can be accessed online and through SMS. </p></div>
</div>

<!-- Alternating Steps -->
<div class="row" style="margin:0 0 40px 0">
  <div class="container" style="padding: 0 0 100px 0">

    <i class="fa fa-desktop col-md-2 col-md-offset-2" style="font-size:150px; color:#4582ec"></i>

   <div class="col-md-6"><h3>1. Choose Your Program</h3><p>From the horizontal menu, on the right-hand side, select “Programs”. From the dropdown menu, select “See All Programs”.  After landing on the Programs Page, choose the program that applies to your needs.</p></div>

  </div>
</div>

<div class="row" style="margin:0 0 40px 0">
  <div class="container" style="padding: 0 0 100px 0">

  <i class="fa fa-list-alt col-md-2 col-md-offset-2" style="font-size:150px; color:#4582ec"></i>

   <div class="col-md-6"><h3>2. Enter Your Information</h3><p>On the individual program page you selected, there will be a qualifier statement in the description followed by a few questions for you to fill out. In the form fields, provide your information. </p></div>
  </div>
</div>

<div class="row" style="margin:0 0 40px 0">
  <div class="container" style="padding: 0 0 50px 0">

  <i class="fa fa-check-square col-md-2 col-md-offset-2" style="font-size:150px; color: #4582ec"></i>

   <div class="col-md-6"><h3>3. See if you Qualify</h3><p>After you have completed the form for your program, click the blue “See If I Qualify” button on the lower left-hand side. </p></div>
  </div>
</div>

<div class="row" style="margin:0 0 80px 0">
  <div class="container" style="text-align:center">

   <div class="col-md-offset-2 col-md-8 col-md-offset-2" style="text-align:center">
    <h3>After you have completed this process, you will be directed to community or government resources based on your qualifying outcome. If you have any questions please contact us. </h3>
  </div>

  </div>
</div>

