<div class="container">

<div class="page-header" style="border:none">
  <h1>Do I Qualify for Family Nutrition Assistance?</h1>

<div class="lead">
  <p>The Family Nutrition Assistance program is to address food deserts in the south suburbs to purchase and deliver fresh produce twice per month to a variety of sites to distribute to low-income families. </p>
  </div>

  <p>You can find more information on Family Nutrition <a href="http://www.cedaorg.net/www2/CDS.html">here.</a></p>
</div>


      <% if @eligible %>


      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">You may be in luck!</p>
        <p>You may be in luck! Based on your household size and income, you qualify for Family Nutrition Assistance. Please be sure to find an office near you
        <%= link_to "here", "http://www.cedaorg.net/www2/CDS.html " %>.
       </p>
      </div>



      <% else %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>
        <p>Based on your household size and income, you likely do not qualify for a family nutrition program. If you need food assistance, text FOOD to 877-877 to see a summer meal site near you.
        </p>
        </div>
      <% end %>
      </div>

</div>

<div class="container">
  <ul class="pager" style=" text-align:left">
    <!-- <li class="previous"><a href="/">← Back</a></li> -->
    <li> <%= link_to "← Back", :back, :class => "previous" %></li>
  </ul>
</div>
