<div class="page-header">
  <h1>Family Nutrition #<%= @family_nutrition.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Nutrition gross income</dt>
  <dd><%= @family_nutrition.nutrition_gross_income %></dd>

  <dt>Nutrition household size</dt>
  <dd><%= @family_nutrition.nutrition_household_size %></dd>

</dl>
