<div class="container">

    <div class="page-header" style="border:none">
      <h1> Do I qualify for Auto Repair assistance?</h1>

     <div class="lead"> <p>Auto Repair Assistance, financial assistance for limited auto repair needs, is available to remove barriers to maintaining or seeking employment, education/ training or health maintenance.</p>
      </div>

      <% if @eligible %>

    <div class="panel panel-default" style="margin: 0 0 40px 0">
      <div class="panel-body">
        <p style="font-size:32px; font-style:italic">You may be in luck!</p>
        <p>Based on your household size and income, you qualify for Auto Repair Assistance. Please be sure to bring estimates from a CSBG approved auto repair vendor and find an office near you
        <%= link_to "here", "http://www.cedaorg.net/www2/CDS.html"  %>.
        </p>
      </div>

      <% else %>

      <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>
        <p>Based on your household size and income, you likely do not qualify for auto repair assistance. </p>
        <p> Call the Illinois Attorney General, Consumer Protection Division, toll-free: (800) 386-5438 to discuss options available to receive more guidance on your situation.
        </p>
        </div>
      <% end %>
      </div>
<div class="container">
  <ul class="pager" style="text-align:left">
    <!-- <li class="previous"><a href="/">← Back</a></li> -->
    <li> <%= link_to "← Back", :back, :class => "previous" %></li>
  </ul>
</div>
</div>
