<div class="container">

      <% if @eligible %>
      <div class="page-header"><h1>You may be in luck!</h1></div>
      <div class="well">
        <p>Based on your household size and income, you qualify for Auto Repair Assistance. Please be sure to bring estimates from a CSBG approved auto repair vendor and find an office near you
        <%= link_to "here", "http://www.cedaorg.net/www2/CDS.html"  %>.
        </p>
      </div>

      <% else %>

      <div class="page-header"><h1>Do I qualify for Auto Repair Assistance?</h1></div>
      <div class="well">
        <p>Based on your household size and income, you likely do not qualify for auto repair assistance. </p>
        <p> Call the Illinois Attorney General, Consumer Protection Division, toll-free: (800) 386-5438 to discuss options available to receive more guidance on your situation.
        </p>
      <% end %>
      </div>
<!--
    <div class="row">
      <a class="btn btn-default" href="/mrelief"><i class="fa fa-chevron-left"></i> Back</a>
    </div> -->
</div>
