<div class = "container">
<div class="page-header">
  <h1>Do I qualify for Auto Repair Assistance?</h1>
</div>

<% if @auto_repair_assistance.errors.any? %>
  <% @auto_repair_assistance.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<p class="lead">If you are a resident of Suburban Cook County and enrolled in the Community Services Block Grant program, you may be eligible for Auto-Repair Assistance.  Please answer the following questions to find out:</p>


<form action="/create_auto_repair_assistance" class="form-horizontal">
  <!-- Label and input for auto_household_size -->
  <div class="form-group">
    <label for="auto_household_size" class="col-sm-6 control-label">
      What is your
      <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="the number of people who live in your household">
      household
      </button>
      size?
    </label>
    <div class="col-sm-6">
      <input type="text" id="auto_household_size" name="auto_household_size" placeholder="Household size" class="form-control" value="<%= @auto_repair_assistance.auto_household_size %>" required>
    </div>
  </div>

  <!-- Label and input for auto_gross_income -->
  <div class="form-group">
    <label for="auto_gross_income" class="col-sm-6 control-label">
      What is your
      <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="the total amount of money you have made over the past 90 days before taxes were taken out">
      gross income
      </button>

      over the past 90 days?
    </label>
    <div class="col-sm-6">
      <input type="text" id="auto_gross_income" name="auto_gross_income" placeholder="90 day gross income" class="form-control" value="<%= @auto_repair_assistance.auto_gross_income %>" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-6">
      <input type="submit" value="See if I qualify" class="btn btn-primary">
    </div>
  </div>
</form>
