<div class= "container">

<div class="page-header" style="border:none">
  <h1> Do I qualify for Auto Repair assistance?</h1>

<p class="lead">If you are a resident of Suburban Cook County and enrolled in the Community Services Block Grant program, you may be eligible for Auto-Repair Assistance.  <br>Please answer the following questions to find out:</p>
</div>

<% if @auto_repair_assistance.errors.any? %>
  <% @auto_repair_assistance.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="panel panel-default col-md-10" style="margin: 0 0 40px 0">
  <div class="panel-body">
    <form action="/create_auto_repair_assistance" role="form">

  <div class="form-group col-sm-9">
    <label for="auto_household_size">What is your household size?</label>
       <input type="text" id="auto_household_size" name="auto_household_size" placeholder="Household size" class="form-control" value="<%= @auto_repair_assistance.auto_household_size %>" required>
  </div>


  <!-- Label and input for auto_gross_income -->
   <div class="form-group col-sm-9">
    <label for="auto_gross_income">
      What is income over the past 90 days? <a data-toggle="popover" title="Popover title" data-placement="top" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fa fa-info-circle"></i></a>
       <!--  </button> -->
    </label>

    <div class="input-group">
      <span class="input-group-addon">$</span>
        <input type="text" id="auto_gross_income" name="auto_gross_income" placeholder="90 day gross income" class="form-control" value="<%= @auto_repair_assistance.auto_gross_income %>" required>
      <span class="input-group-addon">.00</span>
    </div>


    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>


  </div>
</form>
</div>
</div>
