<div class="page-header">
  <h1>Auto Repair Assistance #<%= @auto_repair_assistance.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Auto household size</dt>
  <dd><%= @auto_repair_assistance.auto_household_size %></dd>

  <dt>Auto gross income</dt>
  <dd><%= @auto_repair_assistance.auto_gross_income %></dd>

</dl>
