<div class="container">

<div class="page-header" style="border:none">
  <h1> Do I Qualify for Dental Assistance?</h1>

<div class="lead"> <p>Dental Assistance is financial assistance for limited dental needs and is available to remove barriers to maintaining or seeking employment, education/training or health maintenance. </p>
  </div>

  <p>You can find more information about Dental Assistance <a href="http://www.cedaorg.net/www2/CDS.html
">here.</a></p>
</div>

      <% if @eligible %>

       <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">You may be in luck!</p>
        <p>Based on your household size and income, you qualify for Dental Assistance. Please be sure to bring estimates from a CSBG approved dental care providers and find an office near you
        <%= link_to "here", "http://www.cedaorg.net/www2/CDS.html  " %>.
       </p>
      </div>



      <% else %>

    <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body">
          <p style="font-size:32px; font-style:italic">We apologize.</p>
        <p>Based on your household size and income, you likely do not qualify for dental assistance. However, the Chicago dental society has provided a detailed list on community dental clinics in Chicago and beyond
        <%= link_to "here", "http://www.cds.org/Find_a_Dental_Clinic/Find_a_Dental_Clinic_Content.aspx" %>.
        Also, feel free to call them at 312.836.7300 for more information.</p>
        </div>
      <% end %>
      </div>

</div>

<div class="container">
  <ul class="pager" style="text-align:left">
    <!-- <li class="previous"><a href="/">← Back</a></li> -->
    <li> <%= link_to "← Back", :back, :class => "previous" %></li>
  </ul>
</div>
