<div class="page-header">
  <h1>Dental #<%= @dental.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Dental gross income</dt>
  <dd><%= @dental.dental_gross_income %></dd>

  <dt>Dental household size</dt>
  <dd><%= @dental.dental_household_size %></dd>

</dl>
