/*.right {
    position: absolute;*/

.alignright {
   float: right;
   clear:both;
}

left{
  text-align: left
  left: 3em



.relative {
  position: relative;
  left: 3em;
}
/*div{
  clear: both;
}
*/

}
.breathing-room{
margin:75px 0;
}

.btn {
  background-color:primary;
/*  height: 400px;
  width: 400px;*/
  width: 15em;  height: 4em;
}
