<div class="page-header">
  <h1>Medicaid #<%= @medicaid.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Medicaid household size</dt>
  <dd><%= @medicaid.medicaid_household_size %></dd>

  <dt>Medicaid gross income</dt>
  <dd><%= @medicaid.medicaid_gross_income %></dd>

</dl>
