<div class="container">
  <ul class="pager" style="padding: 20px 0 0 0; text-align:left">
    <!-- <li class="previous"><a href="/">← Back</a></li> -->
    <li> <%= link_to "← Back", :back, :class => "previous" %></li>
  </ul>
</div>
